---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Desktools.tk" url="https://www.desktools.tk/"
description="Use online tools at Desk Tools.">
	<main>
		<div class="col-md-8 mb-4">
			<h1>Page was not foun</h1>
			<p>You encountered a 404 error. The page you were looking for does not exist or has been removed.</p>
			<a href="/" class="btn btn-primary">To Home Page</a>
		</div>
	</main>
</Layout>

