---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Desktools.tk" url="https://www.desktools.tk/"
description="Use online tools at Desk Tools.">
	<main>
		<div class="col-md-8 mb-4">
			<h1>Server error</h1>
			<p>You encountered a 505 error. The server has technical problems.</p>
			<a href="/" class="btn btn-primary">To Home Page</a>
		</div>
	</main>
</Layout>

