---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Desktools.tk" url="https://www.desktools.tk/" description="Use online tools at Desk Tools.">
	<main>
		<div class="col-md-8 mb-4">
			<h1>Welcome to Desk Tools</h1>
			<p>Links to online tools on the page</p>

			<ul>
				<li>
					<a href="password-generator-based-on-words">Password Generator</a>
				</li>
				<li>
					<a href="word-counter-for-essays-and-posts">Word Counter</a>
				</li>
				<li>
					<a href="business-name-generator-ideas">Business Name Ideas Generator</a>
				</li>
			</ul>
		</div>
	</main>
</Layout>