---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Desktools.tk" url="https://www.desktools.tk/" description="Use online tools at Desk Tools.">
	<main>
		<div class="card">
			<div class="col-md-8 mb-4 p-4">
				<h1>Welcome to Desk Tools</h1>
				<p>Links to online tools on the page</p>

				<ul>
					<li>
						<a href="password-generator-based-on-words" class="mb-1">Password Generator</a>
					</li>
					<li>
						<a href="word-counter-for-essays-and-posts" class="mb-1">Word Counter</a>
					</li>
					<li>
						<a href="business-name-generator-ideas" class="mb-1">Business Name Ideas Generator</a>
					</li>
					<li>
						<a href="color-palette-from-images" class="mb-1">Create Color Palettes From Images</a>
					</li>
					<li>
						<a href="random-number-generator" class="mb-1">Random Number Generator</a>
					</li>
				</ul>
			</div>
		</div>
	</main>
</Layout>