---
import Layout from "../layouts/Layout.astro";
---

<Layout  title="Password Generator From Words | How to Create a Secure Password" url="https://www.desktools.tk/password-generator-based-on-words/"
description="Use the Password Generator From Words. Create passwords with words that can be used as online passwords on any sites.">
    <main>
        <div class="col-md-8 mb-4">
            <h2 id="intro-heading">Create Passphrases with this Online Generator</h2>
            <p>Create passphrases that can be used as online passwords on any sites.</p>
            <p>Click the generate button to create a new password. You can also edit it to your liking.</p>
        </div>


        <div class="card mb-5">
            <div class="card-body">
                <h1 class="card-title">Password Generator From Words</h1>
                <div class="row mb-4">
                    <div class="col md-12 position-relative">
                        <input type="text" class="form-control" id="word">
                        <button class="btn btn-sm position-absolute"
                            style="top:50%;left:96%;transform: translateY(-50%);display: flex;align-items: center;justify-content: center;padding: .4rem;"
                            id="copyButton"><img src="../img/clipholder.png" width="15"></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col md-3">
                        <label for="">Seperator</label>
                        <br>
                        <input type="text" id="char" value="-" maxlength="6">
                    </div>
                    <div class="col md-3">
                        <label for="range" class="form-label">Number of Word</label>
                        <br>
                        <input type="number" name="" id="number" value="3" min="1" max="6">
                        <input type="range" class="form-range" id="range" value="3" min="1" max="6" step="1">
                    </div>
                    <div class="col md-3">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="case" value="" id="first_uppercase"
                                checked>
                            <label class="form-check-label" for="flexCheckIndeterminate">
                                Upper Case First word
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="case" value="" id="lowercase">
                            <label class="form-check-label" for="flexCheckIndeterminate">
                                Lowercase
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="case" value="" id="random_case">
                            <label class="form-check-label" for="flexCheckIndeterminate">
                                Random Case
                            </label>
                        </div>
                    </div>
                    <div class="col md-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="special">
                            <label class="form-check-label" for="flexCheckIndeterminate">
                                Special Characters
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="numbers">
                            <label class="form-check-label" for="flexCheckIndeterminate">
                                Numbers
                            </label>
                        </div>
                    </div>
                </div>
                <button id="btn" class="btn btn-primary">Generate</button>
                <button id="copy" class="btn btn-secondary">Copy <img src="/img/clipholder.png" width="12"
                        alt=""></button>
            </div>
        </div>

        <article class="card p-4">
            <div class="col-md-8">
                <h2>How are the passwords generated?</h2>
                <p>When you click the generate button several words are selected from a list containing thousand of
                    words. These words are then combined into a passphrase.</p>
                <p>You can generate as many passwords as you like and edit them to make sure they are completely
                    unique to you.</p>
                <h2>What makes up a strong password?</h2>
                <p><strong>Length:</strong> The length of a password is a factor in determening the strength of a
                    password.
                    Every character added exponentially increases the number of potential combinations for a word. A
                    longer password is generally more secure than a shorter one, since it is more difficult to
                    guess. Aim for a password that is at least 12-15 characters long.</p>
                <p><strong>Random:</strong> A password with an unpredictable pattern is hard to guess. Use random
                    random characters or words you rarely see in a book for example.
                    By using at least 3 random words and aditionally combining them with a random character,
                    significalty increases the strength if a password.</p>
                <p><strong>Case</strong>: Use a mix of uppercase and lowercase letters, numbers, and special
                    characters: Using a combination of different types of characters makes your password more
                    secure.</p>
                <p><strong>Avoid using personal information</strong>: Don&apos;t use your name, address, phone
                    number, or other personal information in your password. This information can be easily obtained
                    by hackers.</p>
                <p><strong>Don&apos;t reuse passwords</strong>: It&apos;s important to use a different password for
                    each of your online accounts. If a hacker is able to access one of your accounts, they will not
                    be able to use the same password to access your other accounts.</p>
                <p><strong>Use a password manager</strong>: A password manager is a tool that stores your passwords
                    in a secure way, and can also generate strong passwords for you. This can make it easier to use
                    unique passwords for all of your accounts.</p>
                <h2>What is a passphrase?</h2>
                <p>A passphrase is a longer, easier-to-remember sequence of words that can be used as an alternative
                    to a traditional password. Passphrases can be more secure than traditional passwords because
                    they are typically longer and more difficult for someone else to guess. For example, a
                    passphrase might be &quot;correct horse battery staple,&quot; which is a random sequence of
                    words that is easy for you to remember but would be very difficult for someone else to guess.
                </p>
                <p>One advantage of using a passphrase is that it is typically easier to remember than a traditional
                    password, which can be a string of random characters. This can be especially useful if you have
                    a lot of different online accounts and need to remember multiple passwords. It can also be
                    easier to type a passphrase than a traditional password, since it is usually longer but consists
                    of words rather than a mix of letters, numbers, and special characters.</p>
                <h2>What is the difference between a password and a passphrase?</h2>
                <p>A password is a secret word or phrase that is used to authenticate a user's identity or to log
                    into a system. Passwords are typically shorter than passphrases and may contain a mix of
                    letters, numbers, and special characters.</p>
                <p>A passphrase is a longer sequence of words that is used in place of a traditional password.
                    Passphrases are typically easier to remember than traditional passwords, as they are made up of
                    words rather than a random combination of characters. They may also be easier to type, since
                    they are usually longer but consist of words rather than a mix of letters, numbers, and special
                    characters.</p>
                <p>Overall, the main difference between a password and a passphrase is the length and complexity of
                    the string of characters. Passwords are typically shorter and more complex, while passphrases
                    are longer and made up of words.</p>
                <h2>Examples of passphrases</h2>
                <ol>
                    <li>"correct horse battery staple"</li>
                    <li>"purple monkey dishwasher"</li>
                    <li>"green elephant volcano"</li>
                    <li>"pink flamingo umbrella"</li>
                    <li>"orange kangaroo keyboard"</li>
                </ol>
                <p>These passphrases are made up of random words that are easy for you to remember, but would be
                    very difficult for someone else to guess. They are also long enough to be secure, as they are
                    more than 12 characters in length. You can use a passphrase like this as a strong,
                    easy-to-remember alternative to a traditional password.</p>
                <h2>Why should I use a generator to create passphrases?</h2>
                <p>If you need to create new passwords for your online accounts, a password generator can be a useful
                    tool. These types of generators use algorithms to create random, unique passwords that are difficult
                    for others to guess. Using a password generator can save you time and help ensure that your accounts
                    are secure. Our password generator offers these features and is easy to use. Give it a try and see
                    if it can meet your password creation needs.</p>
                <h2>Do we store any passwords?</h2>
                <p>We do not store any of the passwords it creates. This means that when you use our generator to create
                    a new password, it is not saved or stored in any way. Instead, the password is displayed on your
                    screen, and it is up to you to write it down or save it in a secure location.</p>
            </div>
        </article>
    </main>
</Layout>

<script is:inline>
    document.querySelector('#btn').addEventListener('click', generatePassword)

    let c = document.querySelector('#char').value
    let phrase = ''
    let words = ''

    function generatePassword() {
        fetchWord(document.querySelector('#number').value, c)
        /* const password = generateString(document.querySelector('#number').value)
setPassword(password) */
    }




    async function fetchWord(n, char) {
        n = validateNumber(n)

        const response = await fetch('https://random-word-api.herokuapp.com/word?number=' + n)
        const data = await response.json()
        words = data
        let password = data.join(char)
        phrase = password
        if (document.querySelector('#special').checked) {
            password = randomCharacters(password)
        }
        if (document.querySelector('#numbers').checked) {
            password = randomNumber(password)
        }
        if (document.querySelector('#random_case').checked) {
            document.querySelector('#word').value = randomCase(password)
        }
        if (document.querySelector('#first_uppercase').checked) {
            document.querySelector('#word').value = upperCase(password)
        }
        if (document.querySelector('#lowercase').checked) {
            document.querySelector('#word').value = lowerCase(password)
        }

    }

    document.querySelector('#special').addEventListener('change', (e) => {
        if (e.target.checked) {
            document.querySelector("#word").value = randomCharacters(document.querySelector("#word").value)
        } else {
            document.querySelector("#word").value = document.querySelector("#word").value.slice(1)
        }
    })

    function randomCharacters(string) {
        chars = ['*', '!', '”', '#', '$', '%', '&', '’', '(', ')', '*', '+', ',', '-', '.', '/', ':', ';', '<', '=',
            '>', '?', '@', '[', ']', '^', '_', '`', '{', '|', '}', '~'
        ]
        return chars[Math.floor(Math.random() * chars.length)] + string
    }

    document.querySelector('#numbers').addEventListener('change', (e) => {
        if (e.target.checked) {
            document.querySelector("#word").value = randomNumber(document.querySelector("#word").value)
        } else {
            document.querySelector("#word").value = document.querySelector("#word").value.slice(1)
        }
    })

    function randomNumber(string) {
        return Math.floor(Math.random() * 9) + string
    }

    function validateNumber(n) {
        if (n > 6) {
            return 6
        }
        if (n <= 0) {
            return 1
        }
        return n
    }

    fetchWord(document.querySelector('#number').value, c)

    document.querySelector('#char').addEventListener('keyup', (e) => {
        const char = e.target.value
        c = char
        document.querySelector("#word").value = words.join(char)
    })

    document.querySelector('#random_case').addEventListener('change', (e) => {
        if (e.target.checked) {
            document.querySelector("#word").value = randomCase(document.querySelector("#word").value)
        }
    })

    document.querySelector('#first_uppercase').addEventListener('change', (e) => {
        if (e.target.checked) {
            document.querySelector("#word").value = upperCase(document.querySelector("#word").value)
        }
    })

    document.querySelector('#lowercase').addEventListener('change', (e) => {
        if (e.target.checked) {
            document.querySelector("#word").value = lowerCase(document.querySelector("#word").value)
        }
    })

    function upperCase(string) {
        return string[0].toUpperCase() + string.slice(1).toLowerCase();
    }

    function lowerCase(string) {
        return string.toLowerCase()
    }

    function randomCase(string) {
        string = string.split('').map(e => {
            return Math.random() < .5 ? e.toLowerCase() : e.toUpperCase();
        }).join('')
        return string
    }

    document.querySelector('#range').addEventListener('change', (e) => {
        document.querySelector('#number').value = e.target.value
    })

    document.querySelector('#number').addEventListener('change', (e) => {
        document.querySelector('#range').value = e.target.value
    })

    document.querySelector('#copyButton').addEventListener('click', (e) => {
        copyText()
    })

    document.querySelector('#copy').addEventListener('click', (e) => {
        copyText()
    })

    function copyText() {
        const copyText = document.querySelector("#word");
        copyText.select();
        copyText.setSelectionRange(0, 99999);
        navigator.clipboard.writeText(copyText.value);
    }
</script>