---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Word Counter for Essays and Posts" url="https://www.desktools.tk/word-counter-for-essays-and-posts/"
    description="Word counter for essays and posts. Use this word counter to see the length of your texts.">
    <main>
        <div class="col-md-8 mb-4">
            <h1 id="intro-heading">Word Counter for Essays or Posts</h1>
            <p>Use this word counter to see the length of your texts.</p>
            <p>Simply paste in your text and the number of words and characters show up.</p>
        </div>


        <div class="card mb-5">
            <!--Result box-->
            <div class="count">
                <!--Word count results-->
                <div>
                    <h5 id="word-count">0</h5>
                    <p>Words</p>
                </div>
                <!--character count results-->
                <div>
                    <h5 id="charac-count">0</h5>
                    <p>Characters</p>
                </div>

                <div>
                    <h5 id="charac-count-spaces">0</h5>
                    <p>Characters without spaces</p>
                </div>

                <div>
                    <h5 id="sentences">0</h5>
                    <p>Sentences</p>
                </div>

            </div>

            <!--A place to input content-->
            <div class="container">

                <textarea id="input-textarea" rows="12" placeholder="Start Typing here..."></textarea>

            </div>
        </div>

        <article class="card p-4">
            <div class="col-md-8">
                <h2>How to use this word counter?</h2>
                <p>You should see a text field where you can enter or paste your text. Simply type or paste your text
                    into the field. The word counter will then analyze your text and
                    display the total number of words it contains. That's all there is to it! You can now see the word count
                    for your text.</p>
                <h2>What is an online word counter?</h2>
                <p>An online word counter is a tool that allows you to count the number of words in a piece of text. It
                    is typically a web-based tool that you can use by copying and pasting your text into a text field on
                    the website. The word counter will then analyze the text and display the total number of words it
                    contains. Some online word counters may also provide additional information, such as the number of
                    characters or the average number of words per sentence. Online word counters can be useful for a
                    variety of purposes, such as when you need to know the word count for a document you are writing or
                    when you want to check the length of a piece of text to ensure it meets a specific requirement.</p>
                <h2>Why should I use an online word counter?</h2>
                <ol>
                    <li>
                        <p>To ensure that a document meets a specific word count requirement: Many writing assignments
                            or publishing guidelines have specific word count requirements. An online word counter can
                            help you ensure that your document meets these requirements.</p>
                    </li>
                    <li>
                        <p>To check the length of a piece of writing: If you are writing a blog post, essay, or other
                            piece of writing, an online word counter can help you gauge the length of your text and
                            determine if it is too long or too short.</p>
                    </li>
                    <li>
                        <p>To improve your writing: By keeping track of your word count, you can get a sense of how
                            concise your writing is and how effectively you are communicating your ideas. This can help
                            you improve your writing skills and make your writing more efficient.</p>
                    </li>
                    <li>
                        <p>To save time: Counting words manually can be time-consuming, especially if you have a lot of
                            text to analyze. An online word counter can save you time by quickly and accurately counting
                            the words in your document.</p>
                    </li>
                </ol>
            </div>
        </article>

    </main>
</Layout>

<style>
    .count {
        background-color: #0547ad;
        width: 100%;
        padding: 7px;
        position: relative;
        display: flex;
        font-family: sans-serif;
        justify-content: space-around;
        text-align: center;
        border-radius: 5px 5px 0px 0px;
    }

    .count p {
        color: #ceced7;
    }

    .count h5 {
        color: #ffffff;
        font-size: 22px;
    }

    .container {
        background-color: #ffffff;
        padding: 30px 20px 20px 20px;
        border-radius: 0px 0px 8px 8px;
    }

    textarea {
        width: 100%;
        border: none;
        resize: none;
        outline: none;
        font-size: 16px;
        line-height: 28px;
        padding: 10px;
        max-height: 280px;
        color: #000000;
        box-shadow: 0 20px 65px rgba(20, 114, 177, 0.1);
    }
</style>


<script is:inline>
    const inputTextArea = document.querySelector('#input-textarea');
    const characCount = document.querySelector('#charac-count');
    const wordCount = document.querySelector('#word-count');
    const characSpaces = document.querySelector('#charac-count-spaces')
    const sentences = document.querySelector('#sentences')
    const score = document.querySelector('#score')
    let formula = 0

    inputTextArea.addEventListener('input', wordCounter);

    window.addEventListener('DOMContentLoaded', wordCounter)

    function wordCounter() {

        let txt = inputTextArea.value.trim();
        const wordAmount = txt.split(/\s+/).filter((item) => item).length
        const sentenceAmount = inputTextArea.value.split(/[.!?]+\s/).filter(Boolean).length
        const charactAmount = inputTextArea.value.length
        const charactspacesAmount = inputTextArea.value.replace(/\s\s+/g, ' ').length


        characSpaces.textContent = charactspacesAmount
        characCount.textContent = charactAmount
        wordCount.textContent = wordAmount
        sentences.textContent = sentenceAmount

        if (wordAmount > 20) {
            formula = 4.71 * (charactAmount / wordAmount) + .5 * (wordAmount / sentenceAmount) - 21.43
        }

        if (isNaN(formula) || formula < 2) {
            formula = 0
        }

    }
</script>